.left__color-side {
  position: absolute;
  height: 100vh;
  width: 50%;
  background-color: #efeee9;
}

.right__color-side {
  position: absolute;
  height: 100vh;
  width: 50%;
  left: 50%;
  background-color: #eeebdf;
  @include tablets {
    background-color: #efeee9;
  }
}

.about {
  width: 100%;
  display: flex;
  &__description {
    width: 50%;
    position: relative;
    @include tablets {
      width: 100%;
    }
  }
  &__experience {
    width: 50%;
    padding: 15px;
    @include tablets {
      width: 100%;
    }
  }
  @include tablets {
    flex-direction: column;
  }
}

.description {
  background-color: #efeee9;
  text-align: center;
}

.description__container {
  width: 440px;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  @include hd {
    min-width: 97%;
    display: flex;
    justify-content: space-between;
  }
  @include tablets {
    width: 90%;
    margin: 0 auto;
  }
  @include phones-small {
    width: 100%;
    max-width: 100%;
  }
}

.about_header-title {
  position: absolute;
  top: -40px;
  left: 0;
  opacity: 0.08;
  width: 100%;
  @include hd {
    width: 50%;
  }
}

.description__title {
  font-size: 63px;
  font-family: 'BernierRegular', sans-serif;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-right: 5px;
    @include phones-small {
      font-size: 35px;
    }
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-left: 5px;
    @include phones-small {
      font-size: 35px;
    }
  }
  @include hd {
    width: 50%;
  }
  @include phones-small {
    font-size: 35px;
  }
}

.description__info {
  width: 100%;
  @include hd {
    width: 50%;
  }
}

.description__avatar {
  height: 391px;
  width: 100%;
}

.description__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description__subtitle {
  text-transform: uppercase;
  font-family: 'BernierRegular', sans-serif;
  font-size: 35px;
  margin-bottom: 1px;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-right: 20px;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-left: 20px;
  }
}

.description__text {
  text-align: left;
  @include phones-small {
    padding: 0 10px;
  }
}

.description__text-list {
  list-style: disc;
  margin-left: 30px;
}

.experience {
  background-color: #eeebdf;
}

.experience__container {
  @include tablets {
    max-width: 80%;
    margin: 0 auto;
  }
  @include phones-small {
    width: 100%;
    max-width: 100%;
  }
}

.experience__title {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-family: 'BernierRegular', sans-serif;
  &::before {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-right: 10px;
  }
  &::after {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-left: 10px;
  }
  @include phones-small {
    font-size: 21px;
    width: 80%;
  }
}

.experience__text {
  margin: 25px 0;
}

.experience__content {
  text-align: left;
  @include phones-small {
    text-align: center;
  }
}

.skills-list {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  @include phones-small {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.skills-list__item {
  display: flex;
  @include tablets {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.skills-list__title {
  margin-left: 18px;
  font-size: 28px;
  font-weight: 500;
}

.skill-row__list {
  display: -webkit-box;
  position: relative;
}

.skill-row__item {
  display: flex;
  justify-content: center;
}

.skill {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 18px;
  @include tablets {
    width: 130px;
    height: 130px;
    text-align: center;
    word-wrap: break-word;
  }
  @include phones-small {
    width: 109px;
    height: 109px;
    font-size: 14px;
  }
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 15px;
}

.skill__circle_above {
  stroke: $green;
  stroke-dasharray: 251;
  stroke-dashoffset: 40;
}

.skill__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 77px;
  color: #00bea4;
  font-weight: 500;
}

.socials__item-round {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
}

.map {
  height: 100vh;
  background-image: url('./assets/images/img/bg/map-pseudo.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  @include tablets {
    padding-bottom: 100px;
  }
  @include phones-small {
    padding-bottom: 0;
    align-items: flex-start;
  }
}

.contacts {
  width: 380px;
  max-width: 380px;
  height: 290px;
  max-height: 290px;
  border-radius: 7px;
  background-color: #fcfcfce6;
  text-align: center;
  transition: 0.3s;
  @include phones-small {
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 260px;
    max-height: 260px;
  }
  &__title {
    font-family: 'BernierRegular', sans-serif;
    font-style: normal;
    transition: 0.3s;
    font-size: 35px;
    cursor: default;
    &:hover {
      color: #00bea4;
    }
    &::before {
      display: inline-block;
      content: '-';
      font-size: 35px;
      opacity: .6;
      margin-right: 10px;
    }
    &::after {
      display: inline-block;
      content: '-';
      font-size: 35px;
      opacity: .6;
      margin-left: 10px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    height: 40px;
  }
  &__icon-pic {
    width: 19px;
    height: 19px;
    margin: 0 15px;
    fill: #00bea4;
  }
  &__link {
    &:hover {
      color: #00bea4;
      font-style: normal;
    }
  }
}

.link-aboutme {
  font-weight: 600;
  text-decoration: underline;
  transition: .3s;
  &:hover {
    color: #00bea4;
  }
}

q {
  font-style: italic;
}