.left__color__side {
  position: absolute;
  height: 610px;
  width: 50%;
  background-color: #efeee9;
}

.right__color__side {
  position: absolute;
  height: 610px;
  width: 50%;
  left: 50%;
  background-color: beige;
}

.about {
  width: 100%;
  display: flex;
  &__left-side {
    background-color: #efeee9;
    width: 50%;
    text-align: center;
    position: relative;
  }
  &__right-side {
    width: 50%;
    background-color: beige;
    padding: 15px;
  }
}

.about_header-title {
  position: absolute;
  top: -40px;
  left: 0;
  opacity: 0.08;
  width: 100%;
}

.about__left-side__title {
  font-size: 63px;
  font-family: 'BernierRegular', sans-serif;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-right: 5px;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-left: 5px;
  }
}

.about__left-side__description {
  width: 100%;
  padding: 20px;
}

.about__left-side__description__avatar {
  height: 391px;
  width: 100%;
}

.about__left-side__description__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__left-side__description__subtitle {
  text-transform: uppercase;
  font-family: 'BernierRegular', sans-serif;
  font-size: 35px;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-right: 20px;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-left: 20px;
  }
}

.about__left-side__description__text {
  text-align: left;
}

.about__right-side__title {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-family: 'BernierRegular', sans-serif;
  &::before {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-right: 10px;
  }
  &::after {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-left: 10px;
  }
}

.about__right-side__description__text {
  margin: 25px 0;
}

.skill-list {
  &__item {
    display: inline-block;
  }
}

.skills-row__title {
  margin-left: 18px;
  font-size: 28px;
  font-weight: 500;
}

.skill-row__list {
  display: -webkit-box;
  position: relative;
}

.skill-row__item {
  display: flex;
  justify-content: center;
}

.skill {
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
  margin: 18px;
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 15px;
}

.skill__circle_above {
  stroke: $green;
  stroke-dasharray: 251;
  stroke-dashoffset: 40;
}

.skill__title {
  position: absolute;
  top: 41%;
}

.socials__item-round {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
}

.map {
  height: 670px;
  background-image: url('./assets/images/img/bg/map-pseudo.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.contacts {
  @include absolute;
  width: 380px;
  height: 290px;
  border-radius: 7px;
  background-color: #fcfcfce6;
  text-align: center;
  transition: 0.3s;
  &__title {
    font-family: 'BernierRegular', sans-serif;
    font-style: normal;
    transition: 0.3s;
    font-size: 35px;
    cursor: default;
    &:hover {
      color: #00bea4;
    }
    &::before {
      display: inline-block;
      content: '-';
      font-size: 35px;
      opacity: .6;
      margin-right: 10px;
    }
    &::after {
      display: inline-block;
      content: '-';
      font-size: 35px;
      opacity: .6;
      margin-left: 10px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    height: 40px;
  }
  &__icon-pic {
    width: 19px;
    margin: 0 15px;
    fill: #00bea4;
  }
  &__link {
    &:hover {
      color: #00bea4;
      font-style: normal;
    }
  }
}