.footer {
  background-color: #455a64f5;
  width: 100%;
  margin-top: -137px;
  position: absolute;
  @include tablets {
    margin-top: -187px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer-menu__item {
  display: inline-block;
  margin: 15px 17px;
}

.footer-menu__link {
  text-decoration: none;
  opacity: 0.6;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.footer__text {
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

.footer__row {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #ffffff47;
  &:last-child {
    border-bottom: none;
  }
  @include tablets {
    flex-wrap: wrap;
  }
}

.footer__col {
  width: 50%;
  font-size: 14px;
  @include tablets {
    width: 100%;
  }
}

.footer__col_justify_end {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
  color: #fff;
  @include tablets {
    justify-content: center;
  }
}