.footer {
  background-color: rgba(55, 62, 66, .85);
  width: 100%;
  height: 125px;
  margin-top: -125px;
  position: absolute;
  color: #fff;
  padding: 15px 15px 0 15px;
  font-weight: 300;
  @include tablets {
    height: 210px;
    margin-top: -210px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.footer__nav {
  width: 50%;
  @include tablets {
    width: 100%;
    margin-bottom: 15px;
  }
}

.footer__list {
  color: #fff;
}

.footer__item {
  display: inline-block;
  margin: 0 17px;
}

.footer__link {
  text-decoration: none;
  opacity: 0.6;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.footer__text {
  font-weight: 300;
  max-width: 50%;
  @include tablets {
    max-width: 95%;
    margin-bottom: 15px;
  }
}

.footer__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff47;
  &:last-child {
    border-bottom: none;
  }
  @include tablets {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}