.hero_blog {
  width: 100%;
  height: 400px;
  margin-bottom: 60px;
  background-image: url('./assets/images/img/bg/welcome_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  position: relative;
}

.user_blog {
  font-family: 'BernierRegular', sans-serif;
  font-size: 63px;
  font-weight: 400;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-right: 15px;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-left: 15px;
  }
}
.arrow-off {
  display: none;
}

.blog {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  &__sidebar {
    width: 30%;
    padding-top: 10px;
  }
  &__container {
    width: 60%;
  }
}

.blog__sidebar__list {
  text-align: right;
}

.blog__sidebar__item {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  &_active {
    color: #00bfa5;
    border-right: 3px solid #00bfa5;
  }
}

.blog__sidebar__link {
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
    color: #00bfa5;
  }
}

.blog__container__item {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.509);
  width: 90%;
  &:last-child {
    border: none;
  }
  &__title {
    font-family: 'BernierRegular';
    font-size: 35px;
  }
  &__date {
    font-size: 11px;
    margin: 10px 0;
  }
  &__contain {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.hero-blog {
  height: 400px;
}

.desc-blog {
  top: 64%;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-family: monospace;
  margin-bottom: 20px;
  &-row {
    background-color: #f5f2f0;
  }
}

.table-1cell-width {
  width: 15px;
  height: 23px;
  background-color: #e7e5e3;
  text-align: right;
  padding-right: 10px;
}

.table-2cell-width {
  width: 200px;
}

b {
  color: black;
  font-weight: 600;
}

i {
  color: #84ac32;
  font-style: normal;
}