$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac04e;
$dark: #2f3234;
$white: #ffffff;
$desktop: 1200px; // HD
$laptop: 992px; // Laptop 11 dpi
$tablets: 768px;
$smartphones-big: 414px;
$smartphones: 375px;
$smartphones-small: 370px;