extends ../main.layout.pug

block variables
  - var title = 'About me'
block scripts
  script(src='./about.bundle.js')
block hero-bg__color
  .left__color-side
  .right__color-side 
block hero-section
  include ../common/hero-section.pug
  +hero-section('Егоров Дмитрий', 'Личный сайт разработчика', 'portfolio_header')
block content
  section.about#firstSect
    .description.about__description
      .description__container
        +icon('about_header', 'about_header-title')
        h1.description__title Обо мне
        .description__info
          .description__avatar
            img.description__avatar-img(src="./assets/images/img/avatar/avatar1.png", alt="Avatar")
          h2.description__subtitle Кто я
          .description__text
            p Меня зовут Егоров Дмитрий, Я Front-end разработчик. Занимаюсь разработкой современных сайтов и приложений. Мне 27 лет и я из Москвы. Нашёл себя в веб программировании по этому безумно рад и счастлив работать и развиваться в этом направлении. Мне нравится делать интересные и современные проекты и этот сайт я сделал в рамках показа своих работ и возможностей. Я хорошо знаю HTML разметку, семантику, браузерную поддержку, доступность, как оптимизировать сайт, адаптивность. Знаю и умею писать качественные, расширяемые стили и скрипты.  Чем именно мне нравится веб?! Тем, что я могу постоянно развиваться в этом направлении и по сути нет предела и тупика, так как профессия очень динамичная и остановится в ней это означает начать деградировать. Так что это полностью соответствует моему стилю жизни. Я человек разносторонний и очень любознательный, люблю читать, придумывать и создавать что-то новое. Люблю качество, поэтому очень требователен к себе и к своим работам. Уважаю честность, здравый эгоизм, независимость и интеллект.
            p На этом сайте я так же веду свой личный <a class="link-aboutme" href="./blog.html">блог</a> в котором делюсь своими знаниями и впечатлениями о новых тенденциях и методах из мира веб-разработки. Желаю приятно провести время на сайте.
            p Также Вы можете ознокомиться с <a class="link-aboutme" href="./works.html">моими другими проектами</a>.
            p По вопросам разработки и заказа сайта, воспользуйтесь контактами ниже или используйте форму на странице <a class="link-aboutme" href="./works.html">мои работы</a>.
    .experience.about__experience
      .experience__container
        h3.experience__title Чем я могу быть вам полезен
        .experience__text
          h2.experience__text-title Мои Услуги:
          ul.experience__text-list
            li Разработка сайтов
            li Разработка сайтов на CMS WordPress
            li Верстка сайтов
            li Верстка из PSD в HTML
            li Верстка одностраничных лендингов
            li Разработка cайт-визитка
            li Сайт под ключ (от задачи или идеи до продакшена)
            li Интеграция верстки в WordPress
            li Редизайн существующего сайта
            li Разработка интернет-магазина
            li Обновление и адаптирование старого сайта под новые технологии
            li Разработка и интеграция промо-страниц, баннеров
            li Установка на Ваш сайт Yandex/Google карт
            li Установка и настройка Yandex Metrica
            li Преподование основ веб-разработки
          h2.experience__text-title Преимущества:
          ul.experience__text-list
              li Качество
              li Сроки
              li Гарантии
              li Надёжность
              li Цена
              li Опыт
              li Поддержка
              li Отношение
              li Консультации
              li Помощь
  section.skills-box
    .skills__content
      h2.skills__title Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      #skills-container
  section.map#map
    .contacts
      h2.contacts__title Контакты
      address
        ul.contact__list
          -
            var contacts = [
              ['skype', 'egorovbyegorov', 'skype:egorovbyegorov'],
              ['phone', '+7(916)793-94-43', 'tel:+79167939443'],
              ['envelope', 'egorov-web-studio@mail.ru', 'mailto:egorov-by-egorov@mail.ru'],
              ['map_marker', 'Москва, Зоологическая улица 26', 'https://www.google.ru/maps/place/%D0%97%D0%BE%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+26,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+123056/@55.7655839,37.5819408,17z/data=!3m1!4b1!4m5!3m4!1s0x46b54a3093758425:0x683679f2b1750745!8m2!3d55.7655839!4d37.5841295'],
            ]
          each item in contacts
            li.contacts__item
              +icon(item[0], 'contacts__icon-pic')
              a.contacts__link(href=item[2]) #{item[1]}