extends ../main.layout.pug

block variables
  - var title = 'Мой Блог'
  -
    var socials = [
      ['vk', 'http://vk.com/egorovfam'],
      ['github', 'http://github.com/egorov-by-egorov'],
      ['in', 'http://in.com']
    ]
block scripts
  script(src='blog.bundle.js')

block content
  section.hero.hero_blog
    .block__socials
      ul.socials
        each item in socials
          li.social__item
            a(href="#").social__link
              +icon(item, 'socials__link-icon')
    a(href="#").humburger-link.hero__menu
      +icon('hamburger', "humburger-img")
    .hero__title
      +icon('blog_header', 'section-title__pic')
      .user.hero__user
        .user__pic
          //- img(src="./assets/images/img/avatar/avatar1.png", alt="Avatar").user__pic-img
        .user__description
          .user_blog Блог
          .user__info Статьи, которые я написал
  section.blog
    aside.blog__sidebar
      nav.blog__nav
        ul.blog__list
          li.blog__item.blog__item--active
            span.blog__link Самое важное в SASS
          li.blog__item
            span.blog__link Приёмы в вёрстке, без которых не обходится не один сайт
          li.blog__item
            span.blog__link Самый необходимый набор Gulp плагинов
          li.blog__item
            span.blog__link Почему я выбрал Pug
    main.blog__container
      ul.blog__list-text
        li.blog__text
          h2.blog__text-title Самое важное в SASS
          p.blog__text-date 15 апреля 2018
          p.blog__text-contain Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. <br> <br> Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          table.table
            tr.table-row
              td.table-1cell-width 
              td.table-2cell-width
            tr.table-row
              td.table-1cell-width 1
              td.table-2cell-width //присвоить
            tr.table-row
              td.table-1cell-width 2
              td.table-2cell-width <b>$</b>(<b>document</b>).<b>data</b>(<i>'prop',</i> { <b>anything:</b> <i>'любой объект'</i>})
            tr.table-row
              td.table-1cell-width 3
              td.table-2cell-width
            tr.table-row
              td.table-1cell-width 4
              td.table-2cell-width //прочитать
            tr.table-row
              td.table-1cell-width 5
              td.table-2cell-width <b>alert</b>( <b>$</b>(<b>document</b>).<b>data</b>(<i>'prop'</i>).<b>anything</b>) //любой объект
            tr.table-row
              td.table-1cell-width
              td.table-2cell-width
        li.blog__text
          h2.blog__text-title Приёмы в вёрстке, без которых не обходится не один сайт
          p.blog__text-date 17 марта 2018
          p.blog__text-contain Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности <br> <br> способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

