section.works
  .works__header
    h1.works__title
  .slider
    .slider__desc
      .slider__title
      .slider__tech
      a.slider__link посмотреть мой сайт
    .slider__view
      img.slider__main-img
    .slider__buttons
      buttons.slider__button.slider__button--bg
      buttons.slider__button
      
.about
  .about__header
    .about__title
  .about__reviews
    .review.about__review
      blockquote.review__text
      .review__author
        .review__author-img
        .review__author-info
          .review__author-name
          .review__author-position
    .review.about__review
      blockquote.review__text
      .review__author
        .review__author-img
        .review__author-info
          .review__author-name
          .review__author-position
  form.form.about__form(action="#")
    .form__title
    label(for="name").visuallyhidden Введите имя
    input#name(type="text", name="name")
    label(for="email").visuallyhidden Введите email
    input#email(type="email", name="email")
    label(for="textarea").visuallyhidden Введите сообщение
    textarea#textarea(name="", cols="30", rows="10")
    .form__buttons
      button.form__button
      button.form__button
