extends ../auth.layout.pug
block content
  section.auth
    button.auth__btn(type='button') Авторизоваться
    .auth__user-card
      .auth__avatar
      .auth__desc
        .auth__name Егоров Дмитрий
        .auth__info Личный сайт разработчика
      -
        var socials = [
          ['vk', 'http://vk.com/egorovfam'],
          ['github', 'http://github.com/egorov-by-egorov'],
          ['in', 'http://in.com']
        ]
      ul.socials__list
        each item in socials
          li.auth__socials-item
            a(href=`${item[1]}`).socials__link
              +icon(item[0], 'auth__socials-icon')
      nav.auth__buttons
        ul.auth__list
          li.auth__item
            a(href="works.html").auth__link Мои работы
          li.auth__item
            a(href="about.html").auth__link Обо мне
          li.auth__item
            a(href="blog.html").auth__link Блог
    footer.copyright-welcome
      small © Егоров Дмитрий | создано с любовью в LoftSchool | 2018
