extends ../main.layout.pug

block variables
  - var title = 'My Works'
  script(src='about.bundle.js')
block maincontent
  .maincontent
    block hero_bg-color
      .side__color-beige
    block hero_section
      include ../common/hero-section.pug
      +hero-section('hero_works', 'Егоров Дмитрий', 'Личный сайт разработчика', 'portfolio_header')
    block content
      .works__title
        +icon('works_header', 'works_header-title')
        .works__title-text мои работы
      section.works
        .works__left
        .works__right
