extends ../main.layout.pug

block variables
  - var title = 'My Works'
block scripts
  script(src='./works.bundle.js')
block hero-bg__color
  .side__color--beige
block hero-section
  include ../common/hero-section.pug
  +hero-section('Егоров Дмитрий', 'Личный сайт разработчика', 'portfolio_header')
block content
  section.works#firstSect
    .works__header
      +icon('works_header', 'works__header--bg')
      h1.works__title мои работы
    #slider-component
  section.about-me
    .about-me__title
      +icon('about_header', 'works__header--bg')
      h2.about-me__subtitle что обо мне говорят
    .about-me__reviews
      .review.about__review
        blockquote.review__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .review__author
          .review__author-img.review__author-img--pic-kov
          .review__author-info
            .review__author-name Ковальчук Дмитрий
            .review__author-position основатель Loftschool
      .review.about__review
        blockquote.review__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        .review__author
          .review__author-img.review__author-img--pic-sab
          .review__author-info
            .review__author-name Сабанцев Владимир
            .review__author-position преподаватель
    .about-me__form-blur#form
      .about-me__form
      .form__wrapper
        .form__title связаться со мной
        form.form(action="#")
          label(for="name").visuallyhidden Введите имя
          input.form__input(type="text", required, v-model='parameters.name', @invalid='addErrorClass', @focus='deleteErrorClass', placeholder="Введите имя")
          .error-message(ref="error") Неверно введено имя!
          label(for="email").visuallyhidden Введите email
          input.form__input(type="email", required, v-model='parameters.email', @invalid='addErrorClass', @focus='deleteErrorClass', placeholder="Введите email")
          .error-message(ref="error") Неверно введен email!
          label(for="textarea").visuallyhidden Введите сообщение
          textarea.form__textarea(type="text", v-model='parameters.text', cols="10", rows="8", placeholder="Ваше сообщение")
          .form__buttons
            button.form__button(type="submit") Отправить
            button.form__button(type="reset") Очистить
    a(href="#").about-me__arrow
      +icon('portf_arrow_up', "about-me__arrow-img")

