extends ../main.layout.pug

block variables
  - var title = 'My Works'
  script(src='about.bundle.js')
block maincontent
  .maincontent
    block hero_bg-color
      .side__color-beige
      block hero_section
        include ../common/hero-section.pug
        +hero-section('hero_works', 'Егоров Дмитрий', 'Личный сайт разработчика', 'works_header')
    block content
      
      section.works
        .works__left
