
.user.welcome__user
  .user__pic
    //- img(src="./assets/images/img/avatar/avatar.jpg", alt="").user__pic-img
  .user__description
    .user__name Егоров Дмитрий
    .user__info Личный сайт разработчика