-
  var socials = [
    ['vk', 'http://vk.com/egorovfam'],
    ['github', 'http://github.com/egorov-by-egorov'],
    ['in', 'http://in.com']
  ]
-
  var footerMenu = [
    ['Мои работы', './works.html'],
    ['Обо мне', './about.html'],
    ['Блог', './blog.html'],
    ['Авторизация', './index.html']
  ]
footer.footer
  .footer__row
    .footer__col
      nav.footer-menu
        ul.footer-menu__list
          each item in footerMenu
            li.footer-menu__item
              a(href=item[1]).footer-menu__link #{item[0]}
    .footer__col.footer__col_justify_end
      ul.socials__list
        each item in socials
          li.social__item
            a(href=item[1]).social__link.social_item_footer
              +icon(item[0], 'socials__link-icon socials_link-icon_footer')
  .footer__row
    .footer__col
      .footer__text
        p Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__col.footer__col_justify_end
      small &copy Егоров Дмитрий | создано с любовью в LoftSchool | 2018