-
  var socials = [
    ['vk_round', 'http://vk.com/egorovfam'],
    ['github_round', 'http://github.com/egorov-by-egorov'],
    ['in_round', 'http://in.com']
  ]
-
  var footerMenu = [
    ['Мои работы', './works.html'],
    ['Обо мне', './about.html'],
    ['Блог', './blog.html'],
    ['Авторизация', './index.html']
  ]
footer.footer
  .footer__row
    nav.footer__nav
      ul.footer__list
        each item in footerMenu
          li.footer__item
            a(href=item[1]).footer__link #{item[0]}
    ul.socials__list
      each item in socials
        li.socials__item
          a(href=item[1] target="blank").socials__link
            +icon(item[0], 'socials__link-icon--footer')
  .footer__row
    .footer__text
      p По вопросам сотрудничества обращайтесь:
      a(href='mailto:egorov-by-egorov@mail.ru').footer__link egorov-by-egorov@mail.ru
      span ||
      a(href='tel:+79167939443').footer__link 8(916)793-94-43
    small &copy Егоров Дмитрий | создано с любовью | 2018