include ./common/_mixins

doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title(Portfolio | welcome page)
    // SEO
    meta(name="author" content="Егоров Дмитрий")
    meta(name="description" content="Портфолио разработчика")
    meta(name="keywords" content="Разработка и создание сайтов")
    // favicon
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    // Liblary
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    // Styles
    link(rel="stylesheet", href="main.min.css")
  body
    block content
    
    //- script(src="bootloader.bundle.js")
    script(src="auth.bundle.js")