include ./common/_mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title(Portfolio | $title)
    // SEO
    meta(name="author" content="Егоров Дмитрий")
    meta(name="description" content="Портфолио разработчика")
    meta(name="keywords" content="Разработка и создание сайтов")
    // favicon
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="main.min.css")
  body
    .wrapper
      block maincontent
      
        block hero_bg-color
        block hero_section
        block content
      include ./common/footer.pug

  script(src='bootloader.bundle.js')
  script(src='vendor.bundle.js')
  block scripts
