// Bernier Font
@font-face {
  font-family: 'BernierDistressed';
  src: url('/assets/fonts/Bernier/BERNIERDistressed-Regular.woff') format('woff'), url('/assets/fonts/bernier/BERNIERDistressed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'BernierRegular';
  src: url('/assets/fonts/Bernier/BERNIERRegular-regular-webfont.woff') format('woff'), url('/assets/fonts/bernier/BERNIERRegular-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'BernierShade';
  src: url('/assets/fonts/Bernier/BERNIERShade-Regular.woff') format('woff'), url('/assets/fonts/bernier/BERNIERShade-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

// Awesome Font
@font-face {
  font-family: 'FontAwsome';
  src: url('/assets/fonts/FontAwsome/fontawesome-webfont.woff') format('woff'), url('/assets/fonts/FontAwsome/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

// Roboto Font
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Light.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-LightItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Medium.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: optional;
}