.hero_works {
  margin-bottom: 30px;
}

.section-works__title {
  text-align: center;
  height: 140px;
}

.section-works__title-text {
  font-family: 'BernierRegular', sans-serif;
  font-size: 63px;
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    vertical-align: middle;
    opacity: 0.6;
  }
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    vertical-align: middle;
    opacity: 0.6;
  }
}