.side__color--beige {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #faf8f0;
}

.works {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.works__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #faf8f0;
  height: 190px;
  width: 100%;
  color: #373e42;
  text-align: center;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
  }
}

.works__header--bg {
  @include absolute;
  opacity: 0.08;
  width: 50%;
}

.works__title {
  font-family: 'BernierRegular', sans-serif;
  font-size: 63px;
  margin: 0 20px;
}

.slider {
  background-color: #f0efe9;
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-template-areas: 'desc view' 'desc buttons';
  @include tablets {
    grid-template: auto / 1fr;
    grid-template-areas: 'view' 'desc' 'buttons';
  }
}

.slider__desc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: 70%;
  max-width: 70%;
  margin: 0 auto;
  grid-area: desc;
  @include tablets {
    margin: 30px auto;
  }
}

.slider__title {
  display: flex;
  text-transform: uppercase;
  font-family: 'BernierRegular', sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
  &::before {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
  }
  &::after {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
  }
}

.slider__tech {
  height: 50px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 3;
  color: #00bea4;
  border-top: 1px solid #00bea4;
  border-bottom: 1px solid #00bea4;
  margin-bottom: 25px;
}

.slider__link {
  align-self: center;
  display: block;
  padding: 15px 20px 10px 20px;
  border-radius: 5px;
  background-color: #00bea4;
  color: #faf8f0;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  &:hover {
    background-color: #686666;
  }
}

.slider__link-icon {
  fill: #faf8f0;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.slider__view {
  grid-area: view;
  background-color: #efebe0;
  padding: 60px 30px;
}

.slider__buttons {
  grid-area: buttons;
  background-color: #c5c3bf;
  display: flex;
}

.slider__main-img {
  height: 100%;
  width: 100%;
}

// section --about-me--
.about-me__title {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'BernierRegular', sans-serif;
  height: 200px;
  width: 100%;
  line-height: 1;
  color: #373e42;
  text-align: center;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    height: 100%;
    line-height: 2;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    height: 100%;
    line-height: 2;
  }
}

.about-me__subtitle {
  overflow: hidden;
  width: 35%;
  font-size: 63px;
  margin: 0 20px;
  height: auto;
}

.about-me {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-image: url('assets/images/img/bg/works_bg_form.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 320px;
}

.about-me__reviews {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.about__review {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.review {
  margin-bottom: 30px;
  padding: 25px;
}

.review__text {
  min-height: 150px;
  &::before {
    display: block;
    content: '“';
    font-size: 63px;
    line-height: 0.7;
    font-family: 'FontAwsome';
  }
}

.review__author {
  margin-top: 30px;
  display: flex;
}

.review__author-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
}

.review__author-img--pic-kov {
  background-image: url('assets/images/img/avatar/ava_kov.jpg');
}

.review__author-img--pic-sab {
  background-image: url('assets/images/img/avatar/ava_saba.jpg');
}

.review__author-info {
  color: #00bea4;
  padding: 20px 20px 0 20px;
}

.review__author-name {
  font-weight: 600;
}

.about-me__form {
  background-image: url('assets/images/img/bg/blur__form.jpg');
  background-position: 100% 175%;
  padding: 10px 20px 0 20px;
  width: 380px;
  max-width: 380px;
  height: 390px;
  max-height: 390px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.form {
  width: 95%;
}

.form__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'BernierRegular', sans-serif;
  font-size: 35px;
  width: 100%;
  margin-bottom: 10px;
  &::before {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-right: 10px;
  }
  &::after {
    display: block;
    content: '-';
    font-size: 35px;
    opacity: .6;
    margin-left: 10px;
  }
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid transparent;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__textarea {
  outline: none;
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid transparent;
  vertical-align: text-top;
  margin-bottom: 10px;
}

.form__buttons {
  width: 380px;
  max-width: 380px;
  height: 50px;
  display: flex;
}

.form__button {
  height: 50px;
  width: 50%;
  background: #027263c9;
  border-right: 2px solid #fff;
  color: #fff;
  transition: 0.3s;
  font-weight: 600;
  font-size: 14px;
  &:last-child {
    border-right: none;
    border-radius: 0 0 5px 0;
  }
  &:first-child {
    border-radius: 0 0 0 5px;
  }
  &:hover {
    background: #00bea4;
  }
}

.about-me__arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 17%;
}

.about-me__arrow-img {
  fill: #fff;
  width: 26px;
  height: 26px;
  opacity: 0.6;
  transition: 0.2s;
  &:hover {
    opacity: 1;
    width: 30px;
    height: 34px;
  }
}