// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 2%;
}

.humburger-link__img {
  width: 28px;
  height: 28px;
  fill: #fff;
  opacity: 0.6;
  transition: .3s;
  &:hover {
    opacity: 1;
    width: 32px;
    height: 32px;
  }
}

// block__socials
.socials__list {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.social__item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;
}

.socials__link-icon {
  width: 25px;
  height: 100%;
  fill-opacity: 0.6;
  fill: #fff;
  transition-duration: 0.3s;
  &:hover {
    fill-opacity: 1;
    width: 30px;
  }
}

.social__item__footer {
  margin-right: 10px;
}

.socials_link-icon_footer {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  fill: #455a64f5;
  height: 35px;
  transition: .3s;
  width: 35px;
  &:hover {
    background-color: #455a64f5;
    border: 1px solid #455a64f5;
    fill: #fff;
  }
}